/* Body background properties */

body {
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;opacity:0.92;
    background-size: 20px 20px;
    min-height:100vh;
}

/* Main body styles */

.container-fluid {
    position: relative;
    width: 76%;
    min-height: 100%;
    height: 100%;
    background-color: #ffffff;opacity:0.96;
}

/* Header styles */

header {
    text-align: center;
    margin: 5% auto auto auto;
}

header h2 {
    font-size: 140%;
}

/* Quiz styles */

.quizBtn {
    margin-top: 12%;
}

.counters {
    margin-bottom: 2%;
    width: 100%%;
}

.qst-header {
    padding: 2%;
    background-color: #1F456E;
    color: #ffffff;
    text-align: center;
}

.btn-block {
    margin-top: 20%;
    padding: 20%;
    width: 150%;
}

.redBtn {
    background-color: #8b0000;
}